# Deployer
PRIVATE_KEY=YOUR_DEPLOYER_PRIVATE_KEY_HERE
DEPLOYER_ADDRESS=0xYOUR_DEPLOYER_ADDRESS

# RPC
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_MAINNET_RPC_URL=https://mainnet.base.org

# Etherscan
BASESCAN_API_KEY=YOUR_BASESCAN_API_KEY

# Fee receiver — куда уходят penalty (на старте можно адрес deployer)
FEE_RECEIVER=0xYOUR_FEE_RECEIVER_ADDRESS
